* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Configurações gerais*/

input,
select,
button {
    width: 100%;
    /*height: 40px !important;*/
}
input{
    background-color: #fdfffc;
    border: solid 3px;
    border-radius: 8px;
    border-color: #586E80;
    height: 40px !important;
}

input[type="radio"] {
    width: 20px;
    /*margin-right: 15px;*/
}

.img-background {
    background-image: url("./img/duotone.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.btn-full {
    border-radius: 8px !important;
    border: none !important;
    background-color: #011627 !important;
    color: #fdfffc !important;
    font-family: quickBold !important;
    height: 40px !important;
}
.btn-outline {
    border-radius: 8px !important;
    border: solid 3px !important;
    background-color: #fdfffc !important;
    border-color: #011627 !important;
    color: #011627 !important;
    font-family: quickBold;
    height: 40px !important;
}

/* Fontes */
@font-face {
    font-family: quickBold;
    src: url("./fonts/Quicksand-Bold.ttf");
}

@font-face {
    font-family: quickReg;
    src: url("./fonts/Quicksand-Regular.ttf");
}

@font-face {
    font-family: roboto;
    src: url("./fonts/Roboto-Regular.ttf");
}
.quickBold {
    font-family: quickBold !important;
}

.quickReg {
    font-family: quickReg !important;
}

.roboto {
    font-family: roboto !important;
}
/*Formulário login*/

.pegaTudo{
    display: flex !important;
    align-items: center !important;
}

.login-frame {
    background-color: #fdfffc;
    border-radius: 8px;
    margin-top: 140px;
}

.login-frame .logo {
    text-align: center;
}
.login-frame input {
    background-color: #fdfffc;
    border: solid 3px;
    border-radius: 8px;
    border-color: #586E80;
}

.nTemConta{
    padding-right: 0px !important;
}

.line{
    padding-left: 0px !important;
}

.line hr{
    background-color: #586e80;
    width: 100%;
}

@media only screen and (max-width: 720px) {
}


/*Cadastro locador*/

.cadastro{
    margin-bottom: 0px;
}

.etapa{
    font-size: 14px;
    margin-top: 0px;
    color: #586e80;
}

select{
    background-color: #fdfffc;
    border: solid 3px;
    border-radius: 8px;
    border-color: #586E80;
    height: 40px !important;
}

select{
    background-color: #fdfffc;
    border: solid 3px;
    border-radius: 8px;
    border-color: #586E80;
    height: 40px !important;
}

input[type="radio"] + label{

    font-family: roboto;
    color: #586E80;
}

.botoesCadastro1{
    margin-top: 134px !important;
}

.botoesCadastro2{
    margin-top: 92px !important;
}
/* Menu */
iframe{
    width: 100%;
}