<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>pesquisaImovel</servlet-name>
        <servlet-class>controller.pesquisaImovel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisaCliente</servlet-name>
        <servlet-class>controller.pesquisaPessoaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisaContrato</servlet-name>
        <servlet-class>controller.pesquisaContrato</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisaEndereco</servlet-name>
        <servlet-class>controller.pesquisaEndereco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisaLocador</servlet-name>
        <servlet-class>controller.pesquisaLocador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisaLocatario</servlet-name>
        <servlet-class>controller.pesquisaLocatario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisaLogin</servlet-name>
        <servlet-class>controller.pesquisaLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisaTelefone</servlet-name>
        <servlet-class>controller.pesquisaTelefone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pesquisaLoginController</servlet-name>
        <servlet-class>controller.pesquisaLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManterImovelController</servlet-name>
        <servlet-class>controller.ManterImovelController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pesquisaImovel</servlet-name>
        <url-pattern>/pesquisaImovel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisaCliente</servlet-name>
        <url-pattern>/pesquisaCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisaContrato</servlet-name>
        <url-pattern>/pesquisaContrato</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisaEndereco</servlet-name>
        <url-pattern>/pesquisaEndereco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisaLocador</servlet-name>
        <url-pattern>/pesquisaLocador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisaLocatario</servlet-name>
        <url-pattern>/pesquisaLocatario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisaLogin</servlet-name>
        <url-pattern>/pesquisaLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisaTelefone</servlet-name>
        <url-pattern>/pesquisaTelefone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pesquisaLoginController</servlet-name>
        <url-pattern>/pesquisaLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManterImovelController</servlet-name>
        <url-pattern>/ManterImovelController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
